html {
    position: relative;
}

@media (max-width: 768px) {
    body {
        margin-top: 85px;

    }
}


hr {
    width: 50%;
    border-top: 2px solid #ee9b20;
}


/* menu */
.img-fluid {
    width: 200px;
}

.navbar {
    background: rgba(255, 138, 4, 0.884);
}

/* akhir menu */


/* jumbotron */
.card-img {
    background-color: #000;
    opacity: .30;
}

.card-img-overlay {
    margin-top: 10%;
}

@media (max-width: 768px) {
    .card-img-overlay {
        margin-top: 1%;
    }
}

.statistik-fluid {
    width: 100%;
}

/* akhir jumbotron */

/* pilihan informasi */
.block__35630 {
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 4px;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background: #fff;
}

.block__35630 .icon>span {
    font-size: 3rem;
    color: #ee9b20;
}

.block__35630 h3 {
    color: #000;
    font-size: 1.6rem;
}

.block__35630:hover {
    background-color: #FCF7D3;
    border-color: #ff8b00;
}

/* akhir pilihan informasi */